<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean class="org.constructor.dependency.injection.Address" id="addrId">
        <constructor-arg value="490" />
        <constructor-arg value="Delhi" />
        <constructor-arg value="273029" />
    </bean>


    <bean class="org.constructor.dependency.injection.Student" id="stdId">
        <constructor-arg value="Yash" />
        <constructor-arg value="200" />
        <constructor-arg ref="addrId" />
    </bean>

</beans>